@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
    background: #6c6c6c;
}

body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background: #6c6c6c;
    padding: 0;
    margin: 0;
}

#main {
    width: 475px;
    padding: 0 215px 0 175px;
    position: relative;
    margin: 25px auto;
}

h1 {
    width: 150px;
    height: 150px;
    background: #D1F70F;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

h1 a {
	border: solid 1px #084B13;
    display: block;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    background: url("./logo.png");
}

#poster {
    border: solid 1px #084B13;
	position:absolute;
	top:0px;
	left:675px;
	margin:0;
	display: block;
	width: 200px;
	height: 282px;
}

#twitter {
	position:absolute;
	top:290px;
	left:675px;
	margin:0;
	display: block;
}

#sharefacebook {
	position:absolute;
	top:320px;
	left:675px;
	margin:0;
	display: block;
}

#header {
    background: #DEFB4A;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 148px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    position: relative;
    border: solid 1px #084B13;
    color: #6c6c6c;
}

* html #header {
    height: 148px;
}

#hcontent {
    padding: 14px 24px 24px 24px;
}

#header h2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
    margin: 0;
    color: #0D1400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

#reason {
    margin: 0 0 8px 0;
}

#meta {
    margin: 8px 0 0 0;
}

#imdb {
    width: 32px;
    height: 12px;
    display: block;
    bottom: 5px;
    right: 4px;
    background: url("/imdb.png") transparent;
    text-indent: -9999px;
    position: absolute;
    font-size: 0;
}

* html #imdb {
    background: transparent;
    cursor: pointer;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/images/imdb_link.png");
}

#player {
    background: #000;
    margin: 25px 0 0 0;
}

#sayhi {
    margin-top: 15px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    font-weight: normal;
    color: #000;
    line-height: 1.4;
	font-size: 10px;
}

#sayhi a {
    color: #000;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 2px;
    margin: 0 -2px;
}

#sayhi a:hover {
    color: #111;
    background: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}